Repository devschile/chilean-flights-easy-checkin, changes with the owners that CODEOWNERS names for each.
All owners: @checkin, @raulghm, @lgaticaq

fix: change postcss color
  package.json
Owners: @checkin

chore: clean css app
  src/App.vue
Owners: @raulghm

fix: ui improvements
  src/views/Home.vue
Owners: none

feat: add input select
  src/components/v-Select.vue
Owners: none

fix: improve input validations
  src/components/v-Input.vue
Owners: none

refactor: delay function contraction
  src/views/Home.vue
Owners: none

fix(jetsmart): fix scrapping flow
  functions/jetsmart.js
Owners: @lgaticaq

CODEOWNERS:

# Commons
.circleci/* @checkin
.github/* @checkin
.vscode/* @checkin
.editorconfig @checkin
.env-example @checkin
.gitignore @checkin
.npmrc @checkin
.nvmrc @checkin
.travis.ym @checkin
LICENSE @checkin
netlify.toml @checkin
package.json @checkin
*.md @checkin
yarn.lock @checkin

# Frontend
src/* @raulghm
public/* @raulghm
tests/* @raulghm
babel* @raulghm
*.png @raulghm
lighthouse.json @raulghm
vue.config.js @raulghm
.htmlnanorc @raulghm

# Backend
functions/* @lgaticaq
webpack.functions.js @lgaticaq
